extends layout

block body
  div#login
    h3.text-center.text-white.pt-5 Tarefas
    div.container
      div#login-row.row.justify-content-center.align-items-center
        div#login-column.col-md-5
          div#login-box.col-md-12.card
            form#login-form.form(action="/login" method="post")
              h3.text-center.text-info Solicitar senha
              hr
              p.text-center.text-info Você esqueceu sua senha? Aqui voce pode facilmente recuperar uma nova senha
              div.form-group
                br
                input#email.form-control(type="email" name="email" placeholder="E-mail")
              div.form-group.center-row
                input.btn.btn-primary.form-control(type="submit" value="Solicitar uma nova senha")
              div.form-group.center-col
                a.alert-link(href="/login") Entrar